a {
  text-decoration: none;
  cursor: pointer;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

button {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

@media (-webkit-min-device-pixel-radio: 1.5), (min-device-pixel-radio: 1.5) {
  .border-1px {
    &::after {
      -webkit-transform: scaleY(.7);
      transform: scaleY(.7);
    }
  }
}

@media (-webkit-min-device-pixel-radio: 2), (min-device-pixel-radio: 2) {
  .border-1px {
    &::after {
      -webkit-transform: scaleY(.5);
      transform: scaleY(.5);
    }
  }
}