// Colors
$dark: #1a1a1a;
$gray: #71777c;
$blue: #409eff;
$border: #ddd;

// layout
$header-width: 1000px;
$main-container-width: 1000px;
$main-content-width: 550px;
$nav-width: 150px;
$aside-width: 250px;

// admin
$admin-sidebar-width: 200px;

// font
$font-size-base: 14px;
$font-size-nav: 16px;